
@{
    
}

<div class="form-group row" style="margin-top:3em">
    <div class="form-inline">
        <label class="col-sm-3">Kuantitas</label>
        <div class="col-sm-6">
            <input class="form-control input-sm" type="text" maxlength="30" name="QUANTITY" id="QUANTITY" value="" required />
        </div>
    </div>
</div>
<div class="form-group row" style="margin-top:3em">
    <div class="form-inline">
        <label class="col-sm-3">Harga</label>
        <div class="col-sm-6">
            <input class="form-control input-sm" type="text" maxlength="30" name="PRICE" id="PRICE" value="" required />
        </div>
    </div>
</div>


<div class="form-group row" style="margin-top:3em">
    <div class="form-inline">
        <label class="col-sm-3">Nama Product</label>
        <div class="col-sm-6">
            <input class="form-control input-sm" type="text" maxlength="200" name="STOCKNAME" id="STOCKNAME" value="" required />
        </div>
    </div>
</div>




<div class="form-group row" style="margin-top:3em">
    <div class="form-inline">
        <label class="col-sm-3">Tahun Lisensi</label>
        <div class="col-sm-6">
            <input class="form-control input-sm" type="text" maxlength="30" name="LICENSEYEAR" id="LICENSEYEAR" value="" required />
        </div>
    </div>
</div>

<div class="form-group row" style="margin-top:3em">
    <div class="form-inline">
        <label class="col-sm-3">Distributor</label>
        <div class="col-sm-6">
            <input class="form-control input-sm" type="text" maxlength="200" name="DISTRIBUTOR" id="DISTRIBUTOR" value="" required />
        </div>
    </div>
</div>

<div class="form-group row" style="margin-top:3em">
    <div class="form-inline">
        <label class="col-sm-3">Deskripsi</label>
        <div class="col-sm-6">
            <input class="form-control input-sm" type="text" maxlength="2000" name="DESCRIPTION" id="DESCRIPTION" value="" required />
        </div>
    </div>
</div>



<div class="form-group row" style="margin-top:3em">
    <div class="form-inline">
        <label class="col-sm-3">Warna</label>
        <div class="col-sm-6">

            <input class="form-control input-sm" type="text" maxlength="30" name="COLOR" id="COLOR" value="" required />
            <input type="hidden" name="StockID" value="" />
        </div>
    </div>
</div>




<script>
    function formatNumberWithSeparator2Decimal(control, e) {
        if (e.which >= 37 && e.which <= 40) return;

        $(control).val(function (index, value) {
            return value
              // Keep only digits and decimal points:
              .replace(/[^\d.]/g, "")
              // Remove duplicated decimal point, if one exists:
              .replace(/^(\d*\.)(.*)\.(.*)$/, '$1$2$3')
              // Keep only two digits past the decimal point:
              .replace(/\.(\d{2})\d+/, '.$1')
              // Add thousands separators:
              .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        });
    }
    function formatNumberOnly(control) {
        var n = $(control).val().replace(/[^0-9]/g, '');
        $(control).val(n)
    }

    $(document).ready(function () {



        $("#PRICE").on("input", function (e) {
            formatNumberWithSeparator2Decimal(this, e);


        })
        $("#QUANTITY").on("input", function (e) {
            formatNumberOnly(this,e);


        })



    })
</script>